li {
  display: flex;
  align-items: center;
}

li span {
  flex-grow: 1;
}

li a {
  flex-shrink: 0;
  margin-left: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  * {
    font-size: 1rem;
  }
  .card-body .container {
    max-width: auto;
  }
  #card {
    width: 20rem;
  }
  .row {
    margin: 0;
  }
}
