input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  * {
    font-size: 1rem;
  }
  .card-body .container {
    max-width: auto;
  }
  #card {
    width: 20rem;
  }
  .row {
    margin: 0;
  }
}
