* {
  box-sizing: border-box;
}
.card-body {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
#home-page {
  font-size: 1.5rem;
}
#card {
  width: 40rem;
}
#navbarContainer {
  display: flex !important;
  align-items: flex-start;
}
#navbarSupportedContent {
  display: flex !important;
  align-items: center;
}

@media screen and (max-width: 1250px) {
  #navbarContainer {
    display: flex !important;
    align-items: flex-start;
    justify-content: center;
  }

  #navbarSupportedContent {
    display: flex !important;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  #home-row > div {
    display: flex !important;
    align-items: flex-start;
    justify-content: center;
  }
}
